/* header.css */

.Header {
  background: rgba(0, 0, 0, 0); /* Fully transparent background */
  color: white;
  padding: 1.5rem 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0); /* Remove shadow for a cleaner look */
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none; /* Ensure the link is not underlined */
}

.logo {
  width: 80px; /* Adjust the logo size */
  height: auto; /* Ensure the logo maintains aspect ratio */
}

/* Navigation styles */
.Header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px; /* Space between nav items */
}

.Header nav ul li {
  margin: 0;
}

.Header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 12px 24px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.2); /* Slightly transparent button background */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.Header nav ul li a:hover {
  background-color: #f7f7f7;
  color: #1e3a8a;
}
